<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="stylefolder/index.css">
    <title>Document</title>
</head>
<style>
    .container{
        text-align: center;
        font-size: 10px;
    }
    .ty{
        padding-top: 50px;
    }
</style>
<body>
    <div class="container">
        <h1>Mariano Marcos State University</h1>
        <h2>College Of Industrial Technology</h2>
        <h2>Welcome</h2>
        <p>This ticket server as a 1 day parking pass</p>
        <p class="ty">Thank You</p>
    </div>
</body>
</html>